.App {
  text-align: center;
  
}
/*.invalid{
   background-color: rgb(249, 98, 98);
}
.button{
   background-color: rgb(1, 1, 255);
   font-size: 20px;
   border-radius: 30px;
   border:3px solid;
   width: 100px;
}
.button:hover{
   cursor: pointer;
   background-color: rgb(70, 249, 70);
   
}*/